<!--<div class="col-md-8 col-md-offset-2">
    <div class="form-group">-->
<div class="col-lg-12 text-right">
    
        <button id="guarda" class="save btn btn-success fa fa-save " type="submit"> Guardar</button>
        <a href="#" class="save btn btn-primary fa fa-window-close" onclick="return cerrar_modal()">
         Cancelar</a>
        <!--<a class="save btn btn-primary fa fa-window-close" href={{redirige}}> Cancelar</a>-->
        
     <button type="button" class="btn btn-success" title="Ver reporte" id="guarda1"><i class='fa fa-eye'></i> guardar21</button>
</div>
   <!-- </div>
		</div>-->
<input type="hidden" id="rutaimagen" name="variable" value="#id_{{form.ruta.name}}"><!--para el js mostrarimagen -->
<div></div>