<!--<a title="Ingreso de un nuevo registro" class="fas fa-pen-alt" href="{{crea}}"> INGRESE {{modelo|upper}}</a>-->
<a title="Ingreso de un nuevo registro" href="#" onclick="return abrir_modal('{{crea}}','{{modelo|upper}}')" class="fas fa-pen-alt"> INGRESE {{modelo|upper}}</a>
<br>
<a title="Ingreso de un nuevo registro" href="#" class="fas fa-pen-alt" id='nuevo'> INGRESo boton {{modelo|upper}}</a>


 <div id="popup"></div><!--para dialog jqueryui-->
 <div id="popup1" class="modal fade" role="dialog" data-backdrop="static"> <!--para MODAL bootstrap-->

</div>

