{% extends 'baseblank.html' %}
 {% load staticfiles %}
  {% block header %}
      <h1 class="h3 mb-4 text-gray-800">Modifica Origen</h1>
 {% endblock %}
 {% block contenido %}

<form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
        <!-- {{ form.as_p }} -->
<table border="0">
  <tr>
    <td width="65%">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group row" id="divpat">
      <label class="col-md-3 col-form-label" for="{{form.provincia.name}}">{{form.provincia.label}}</label>
        <div class="col-md-8">
          {{form.provincia}}
          {{form.provincia.errors}}
        </div>
    </div>
  </div>
  
  
  
</div><!-- class="row"-->
<!--<td><img  id="bla" src="{% static 'c:\st.jpg' %}" class="img-thumbnail" alt="{{foto.ruta}}"></td>-->
<td></td>
</td>
</tr>
</table>
<div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        <button class="save btn btn-success" type="submit" >Actualizar</button>
        <a class="save btn btn-primary" href="{% url 'lista_origen' %}">Cancelar</a>
    </div>
</div>
        
</form>

  {% endblock %}
  {% block otrosjs %}
  {% endblock %}





