{% extends 'basecero.html' %}
{% load staticfiles %}
 {% block otroshead %}

 {% endblock %}

 {% block header %}
    <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Restablece tu Contraseña!</h1>
                  </div>
 {% endblock %}


{% block contenido %}
   
	Solicitaste Reestablecimiento de contraseña.
	Click en el siguiente link para crear una nueva contraseña.
	{% block reset_link %}
	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
	{% endblock%}
	Tu nombre de usuario es: {{ user.get_username }}




{% endblock %}
  {% block otrosjs %}


     {% endblock %}