{% extends 'basecero.html' %}
{% load staticfiles %}
 {% block otroshead %}

 {% endblock %}

 {% block header %}
    <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Recuperar Contraseña!</h1>
                  </div>
 {% endblock %}


{% block contenido %}
   
	<form method="post">
		{% csrf_token %}
		
		<label for="id_email">Correo:</label>{{form.email}}
		<input type="submit" value="Enviar"/>
	</form>




{% endblock %}
  {% block otrosjs %}


     {% endblock %}




